@media only screen and (max-width: 992px){
nav .brand-logo {
    left: 20%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
}
.grey.darken-3 {
    background-color: #05A8BB !important;
}