.Barrier{
    /*background: url(https://images.squarespace-cdn.com/content/v1/5716ca1427d4bd834e4a5452/1471310840111-GJWOJQI73JEO6MY78I5R/ke17ZwdGBToddI8pDm48kBuE2GvODXuyYE8UaryAMvR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0kD6Ec8Uq9YczfrzwR7e2Mjw1uabqA6nQT0id-7Rt9SIPZxKGEGCRmvs9smSRVMl_g/BlueHaloGradient.jpg?format=2500w);*/
    min-height: 700px;
    padding-top: 4rem;
}
.titleDiv{
    height: 300px;
    width: 100%;
    color: #000;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
}
.buttonDiv{
    /*border: 1px solid;*/
    height: 150px;
    width: 300px;
    margin: auto;
    background: #fff;
    border-radius: 15px;
}
.ant-modal{
    width: 450 !important;
}
.ant-modal-footer{
    display: none;
}
.paypal-button, .paypal-button-context-iframe, .paypal-button-label-checkout .paypal-button-size-small, .paypal-button-layout-horizontal{
    position: absolute;
    margin-top: -48px; 
    margin-left: -59px;
    opacity: 0 ;
}
.react-rater > * {
    display: inline-block;
    font-size: 30px;
    margin-bottom: 15px;
}
.react-rater-star.is-active , .react-rater-star.will-be-active {
    color: rgb(255, 196, 0) !important;
}
.myBook{
    box-shadow: 1px 1px 5px #aaa;
    width: 450px;
    margin: auto;
    border-radius: 15px;
    font-size: 16px;
    height: 200px;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding: 2%;
    font-weight: 400;
    text-align: left;

}