.ant-tabs-nav-container{
    text-align: center;
}
.ant-tabs-bar {
    margin: 0 0 0px 0;
}
.ant-tabs-tab{
    font-size: 14px;
    font-weight: 500;
}
.tabInfo{
    background: #05A8BB;
    /*background: url(https://images.squarespace-cdn.com/content/v1/5716ca1427d4bd834e4a5452/1471310840111-GJWOJQI73JEO6MY78I5R/ke17ZwdGBToddI8pDm48kBuE2GvODXuyYE8UaryAMvR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0kD6Ec8Uq9YczfrzwR7e2Mjw1uabqA6nQT0id-7Rt9SIPZxKGEGCRmvs9smSRVMl_g/BlueHaloGradient.jpg?format=2500w);
    */color: #fff;
    padding: 30px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    min-height: 365px;
}
.tabTitle{
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}
.spanInfo{
    display: inline-block;
    margin-top: 6px;
    margin-left: 45px;
    font-size: 16px;
}
.ant-carousel .slick-slide {
    text-align: center;
    height: 400px;
    line-height: 160px;
    /*background: #364d79;*/
    background: #05A8BB;
    overflow: hidden;
  }
  
  .ant-carousel .slick-slide h3 {
    color: #fff;
  }
  .ant-carousel .slick-slide img{
      width: 100%;
      height: -webkit-fill-available;
  }

  .k-dateinput, .k-datepicker, .k-datetimepicker, .k-timepicker,.k-dateinput .k-dateinput-wrap .k-input, .k-dateinput .k-picker-wrap .k-input, .k-datepicker .k-dateinput-wrap .k-input, .k-datepicker .k-picker-wrap .k-input, .k-datetimepicker .k-dateinput-wrap .k-input, .k-datetimepicker .k-picker-wrap .k-input, .k-timepicker .k-dateinput-wrap .k-input, .k-timepicker .k-picker-wrap .k-input {
    color: rgb(15, 15, 15);
    border-color: #fff;
}
.ant-calendar-picker{
    width: 200px;
}
.ant-calendar-picker-icon{
    color:rgb(219, 216, 216);
}
.ant-calendar-date-input-wrap > .ant-calendar-input {
    display: none;
}
.ant-calendar-input,.ant-input{
    color: rgb(12, 12, 12) !important;
    cursor: pointer;
}
.ant-tabs-nav .ant-tabs-tab-active {
    font-weight: 500;
    /*background-color: #32528f;*/
    background: #05A8BB;
    color: #fff !important;
}
button{
    outline: none;
}
button:focus{
    border: none;
}

.k-dateinput-wrap input{
    pointer-events: none;
 }
 .react-multi-carousel-item {
    /*width: 1349px !important;*/
    height: 450px !important;
 }


