.boxx{
    padding: 4%;
    padding-top: 10%;
    box-shadow: 1px 1px 6px #aaa;
    text-align: center;
    min-height: 400px;
}
.sinForm {
    padding: 5% 20%;
}
@media (max-width: 992px){
.sinForm {
    padding: 5%;
}
}